.event-card{
    color: white;
    margin: 0;
    padding: 0;
    h1{
        background: linear-gradient(91.06deg, #ffffff 2.26%, #7589FF 23.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        margin-left: 240px;
        margin-bottom: 80px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }

    .content{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 240px;
        margin-top: -90px;
        .card{
            background-color: black;
            width: 440px;
            margin-bottom: 40px;
            h3{
                border-top: 1px solid #7589FF;
                border-left: 1px solid #7589FF;
                border-right: 1px solid #7589FF;

                font-weight: 600;
                font-size: 32px;
                line-height: 130%;

                margin-bottom: -0.5rem;

                letter-spacing: 0.12em;
                padding: 24px;
                background: linear-gradient(91.06deg, #FFFFFF 2.26%, #00F0FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

            .content-card{
                border: 1px solid #7589FF;
                padding: 24px;

                .data{
                    font-size: 120px;
                    background: linear-gradient(90deg, #7589FF 0%, #10E0DA 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                }

                .hour{
                    font-size: 22px;
                    padding: 12px;
                }
                .city{
                    font-size: 16px;
                    padding-top: 12px;
                    padding-left: 12px;
                }
                .street{
                    font-weight: 400;
                    font-size: 16px;
                    color:#615F69;
                    padding-bottom: 12px;
                    padding-left: 12px;
                }

                .flex{
                    display:flex;
                }
            }
        }
        .card:nth-child(n + 2) {
            margin-left: 70px;}
    }
        .card:last-child {
            margin-right: 70px;}
}

.warning{
    margin-left: 240px;
    display:flex;
    padding: 30px 0 30px 0;
    width: 1000px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;

    letter-spacing: 0.72px;
    margin-bottom: 275px;
    color: #C5C5C5;
}

button{
    background: #485DFF;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    width: 392px;
    padding: 16px 24px;
    gap: 145px;
    border: none;
}

@media screen and (max-width: 1728px) {
    .event-card{
        .content{

            margin-left: 120px;
        }
    }
}

@media screen and (max-width: 800px) {
    .event-card{
        h1{
            background: linear-gradient(91.06deg, #ffffff 2.26%, #7589FF 70.78%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 24px;
            width: 312px;
            margin-bottom: 60px;
            margin-left: 24px;
        }
        .content{
            display: grid;
            grid-template-columns: auto;
            .card{
                h3{
                    font-size: 32px;
                }
                margin-left: -100px;  
                width: 342px;
                .content-card{
                    border: 1px solid #7589FF;
                    padding: 24px;
    
                    .data{
                        font-weight: 600;
                        font-size: 88px;
                        line-height: 130%;
                    }
    
                    .hour{
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 130%;

                        letter-spacing: 0.72px;
                        padding: 12px;
                    }
                    .city{
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        letter-spacing: 0.72px;
                        padding-top: 12px;
                        padding-left: 12px;
                    }
                    .street{
                        color:#615F69;
                        padding-bottom: 12px;
                        padding-left: 12px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        letter-spacing: 0.72px;
                    }
    
                    .flex{
                        display:flex;
                    }
                }
            }
            .card:nth-child(n + 2) {
                margin-left: -100px;
            }
        }
        .warning{
            display: block;
            margin-left: 24px;
            width: 310px;
        }
    }

    button{
        width: 264px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.06em;
    }

}