<div class="event-card">
    <h1>PRÓXIMOS EVENTOS</h1>
    <div class="warning">
        <img src="assets/images/exclamacao.svg" alt="ping_map">
        <p>Os encontros presenciais podem ter vagas limitadas. Garanta sua participação.</p>
    </div>
    <div class="content">
        <div class="card">
            <h3>Meetup</h3>
            <div class="content-card">
                <p class="data">21/09</p>
                <p class="hour">ÀS 20H HORAS</p>
                <div class="address flex">
                    <img class="ping" src="assets/images/ping_map.svg" alt="ping_map">
                    <div>
                        <p class="city">Foregon</p>
                        <p class="street">Rua Nicolau Cacciatori, 489</p>
                    </div>
                </div>
                <button>Quero participar ⠀<img src="../../../assets/images/arrow-right.svg" alt=""></button>
            </div>
        </div>
        <div class="card">
            <h3>Meetup</h3>
            <div class="content-card">
                <p class="data-mid">18/10</p>
                <p class="hour">ÀS 20H HORAS</p>
                <div class="address flex">
                    <img class="ping" src="assets/images/ping_map.svg" alt="ping_map">
                    <div>
                        <p class="city">Inova Prudente</p>
                        <p class="street">Av. Comendador Alberto Bonfiglioli, n° 2700</p>
                    </div>
                </div>
                <button>Quero participar ⠀<img src="../../../assets/images/arrow-right.svg" alt=""></button>
            </div>
        </div>
        <div class="card">
            <h3>Meetup</h3>
            <div class="content-card">
                <p class="data">16/11</p>
                <p class="hour">ÀS 20H HORAS</p>
                <div class="address flex">
                    <img class="ping" src="assets/images/ping_map.svg" alt="ping_map">
                    <div>
                        <p class="city">Inova Prudente</p>
                        <p class="street">Av. Comendador Alberto Bonfiglioli, n° 2700</p>
                    </div>
                </div>
                <button>Quero participar ⠀<img src="../../../assets/images/arrow-right.svg" alt=""></button>
            </div>
        </div>
    </div>
        <div class="warning2">
            <p><img src="assets/images/exclamacao.svg" alt="ping_map">⠀Os encontros presenciais podem ter vagas limitadas. Garanta sua participação.</p>
        </div>
</div> 
