<div class="form-section">

    <h2 class="title">NÃO FIQUE DE FORA!</h2>

    <p class="conect">Conecte-se também pelo grupo no Telegram, Discord ou Slack</p>


    <div class="form">
        <p>Cadastre-se para não perder nenhum conteúdo</p>
        <input type="text" class="input" placeholder="NOME">
        <input type="text" class="input" placeholder="E-MAIL">
        <input type="text" class="input" placeholder="WHATSAPP/TELEGRAM">
        <select name="" id="">
            <option value="">ÁREA DE ATUAÇÃO</option>
        </select>

        <button type="submit">ENVIAR</button>
    </div>
</div>