<div class="form-section">
    <div class="title-icons">
        <h2 class="title">NÃO FIQUE DE FORA!</h2>

        <p class="conect">Conecte-se também pelo grupo no Telegram, Discord ou Slack</p>

        <div class="social-icons">
            <a target="_blank" href="https://t.me/+Pkvilztk63E4ODA5"><img class="icons-box" src="../../../assets/images/Logo_one_color/blue/telegram.svg" alt=""></a>
            <a target="_blank" href="https://devpp-slack.herokuapp.com/"><img class="icons-box" src="../../../assets/images/Logo_one_color/blue/slack.svg" alt=""></a>
            <a target="_blank" href="https://discord.gg/Yp5dns5gK5"><img class="icons-box" src="../../../assets/images/Logo_one_color/blue/discord_logo.svg" alt=""></a>
            <a target="_blank" href="https://github.com/dev-pp"><img class="icons-box none" src="../../../assets/images/Logo_one_color/blue/github.svg" alt=""></a>
        </div>
    </div>
    <div class="form">
        <p>Cadastre-se para não perder nenhum conteúdo</p>
        <input type="text" class="input" placeholder="NOME">
        <input type="text" class="input" placeholder="E-MAIL">
        <input type="text" class="input" placeholder="WHATSAPP/TELEGRAM">
        <select name="" id="">
            <option value="">ÁREA DE ATUAÇÃO</option>
        </select>

        <button type="submit">ENVIAR <img src="../../../assets/images/arrow-right.svg" alt=""></button>
    </div>
</div>