<div class="form-section">
    <div class="title-icons">
        <h2 class="title">NÃO FIQUE DE FORA!</h2>

        <p class="conect">Conecte-se também pelo grupo no Telegram, Discord ou Slack</p>

        <div class="social-icons">
            <img class="icons-box" src="../../../assets/images/Logo_one_color/blue/telegram.svg" alt="">
            <img class="icons-box" src="../../../assets/images/Logo_one_color/blue/slack.svg" alt="">
            <img class="icons-box" src="../../../assets/images/Logo_one_color/blue/discord_logo.svg" alt="">
            <img class="icons-box" src="../../../assets/images/Logo_one_color/blue/github.svg" alt="">
        </div>
    </div>
    <div class="form">
        <p>Cadastre-se para não perder nenhum conteúdo</p>
        <input type="text" class="input" placeholder="NOME">
        <input type="text" class="input" placeholder="E-MAIL">
        <input type="text" class="input" placeholder="WHATSAPP/TELEGRAM">
        <select name="" id="">
            <option value="">ÁREA DE ATUAÇÃO</option>
        </select>

        <button type="submit">ENVIAR <img src="../../../assets/images/arrow-right.svg" alt=""></button>
    </div>
</div>