.be-part{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .be-part-container{
        .aa{
            img{
                padding: 12px;
                width: 100%;
            }
        }
    }
    h2{
        font-weight: 700;
        font-size: 2.5rem;
        text-align: center;
        background: linear-gradient(91.06deg, #FF1CF7 2.26%, #00F0FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 48px;
    }
    h1{
        margin-top: 80px;
        font-size: 31.25rem;
        background: linear-gradient(91.06deg, #FF1CF7 2.26%, #00F0FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
    }
    h3{
        margin-top: 80px;
        margin-bottom: 40px;
        font-family: 'Chakra Petch';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 33px;
        /* identical to box height, or 138% */
        text-align: center;
        letter-spacing: 0.72px;

        color: #FFFFFF;
    }
    .center{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button{
            text-align: center;
            width: 348px;
            height: 56px;
            font-family: 'Chakra Petch';
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            padding: 16px;
            gap: 30px;
            background: #485DFF;
            border: none;
            border-radius: 2px;
            margin-bottom: 340px;
        }
    }
}

@media screen and (max-width: 800px) {
    .be-part{
        padding-left: 3vw;
        padding-right: 3vw;
        h2{
            font-weight: 700;
            font-size: 1.25rem;
            text-align: center;
        }
        h1{
            padding: 0;
            margin: 0;
            margin-left: 50px;
            width: 321px;
            font-size: 6.25rem;
        }
        h3{
            margin-top: 0px;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.72px;
        }
        .center{
            
            button{
                padding: 16px 24px;
                gap: 30px;
                font-weight: 500;
                font-size: 1rem;
                margin-bottom: 290px;
                width: 312px;
                height: 53px;
            }
        }
    }
}