.footer{
    color: white;
    display: grid;
    grid-template-columns: auto auto;

    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #77A5FA, #FF1CF7);
    border-image-slice: 1;

    padding-left: 252px;
    padding-top: 68px;

    .flex{
        display: flex;
        margin-bottom: 104px;

        // p{
        //     width: 383px;
        // }

        img{
            width: 32px;
             margin-top: -5px;
             margin-left: 48px;
        }
    }

    img{
        margin-bottom: 10px;
    }
    .copyright{
        color: #514E58;
        margin-bottom: 50px;
    }
}