.footer{
    color: white;
    display: grid;
    grid-template-columns: auto auto;

    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #77A5FA, #FF1CF7);
    border-image-slice: 1;

    padding-left: 252px;
    padding-top: 68px;

    .flex{
        display: flex;
        margin-bottom: 104px;

        p{
            width: 383px;
            font-size: 18px;
        }

        .devpp{
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
        }

        img{
            height: 32px;
             margin-top: -15px;
             margin-left: 12px;
             height: 56px;
             margin-bottom: 10px;
        }
    }

    .community{
        font-size: 18px;
    }

    .arrow2{
        display: none;
    }

    .copyright{
        color: #514E58;
        font-size: 18px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .footer{
        padding-left: 24px;
        grid-template-columns: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .flex{
            display: contents;
            
            .cod-conduct{
                display: none;
            }

            .arrow2{
                display: block;
                margin-bottom: 48px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 45%;
                width: 32px;
            }
            img{
                margin-left: 152px;
            }
            p{
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        .arrow1{
            display: none;
        }

        .community{
            font-size: 16px;
            margin-bottom: 60px;
            width: 312px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .copyright{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #514E58;
            font-size: 14px;
            margin-bottom: 32px;
            text-align: center;
        }
    }
}