.footer{
    width: 120rem;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #77A5FA, #FF1CF7);
    width: 100%;
    border-image-slice: 1;
    padding-left: 12vw;
    padding-top: 68px;
    .flex{
        display: flex;
        margin-bottom: 3.75rem;
        p{
            width: 30vw;
            font-size: 1.125rem;
            margin-top: -5px;
        }
        .devpp{
            font-weight: 700;
            font-size: 2rem;
            line-height: 42px;
        }
        .cod-conduct{
            width: 30vw;
            margin-left: 6.5vw;
            a{
                color: white;  
                text-decoration: none;
            }
        }
        img{
            margin-right: 22px;
            height: 32px;
            margin-top: -15px;
            margin-left: 12px;
            height: 56px;
            margin-bottom: 10px;
        }
        .arrow1{
            height: 32px;
            padding-left: 26vw;
        }
        .community{
            font-size: 1.125rem;
            width: 39vw;
            margin-right: 3vw;
        }
    }
    .arrow2{
        display: none;
    }
    .copyright{
        color: #514E58;
        font-size: 1.125rem;
        margin-bottom: 50px;
    }
}

// @media screen and (min-width: 550px) and (max-width: 800px) {
//     .footer{
//         .flex{
//             .community{
//                 margin-top: 0;
//             }
//             .arrow2{
//                 margin-top: -12vw;
//             }
//         }
//     }
// }

@media screen and (max-width: 800px) {
    .footer{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        width: 100%;

        .flex{
            display: block;
            margin-left: 18vw;

            .cod-conduct{
                display: none;
            }
            
            img{
                justify-content: center;
                align-items: center;
                margin-left: 25.5vw;
                margin-top: 7vw;
            }

            .img1{
                margin-top: 6vh;
                margin-bottom: 5vw;
            }
            
            p{
                text-align: center;
                margin-left: -11vw;
                width: 100%;
                padding-left: 7vw;

                // position: absolute;

                font-family: 'Chakra Petch';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                /* or 21px */
                letter-spacing: 0.04em;
            }
            .community{
                margin-top: -8vh;
                font-size: 1rem;
                margin-bottom: 60px;
                line-height: 130%;
                width: 100%;
            }
            .copyright{
                color: #514E58;
                width: 100%;
                font-size: 0.875rem;
                margin-bottom: -30px;
                text-align: center;
                letter-spacing: 0.04em;
                line-height: 130%;
            }
            .arrow1{
                display: none;
            }
            .arrow2{
                width: 32px;
                display: block;
                // margin-top: -10vw;
                margin-bottom: 50px;
                margin-left: 29vw;

            }
        }
    }
}