<div class="partners">
    <div class="partners-container">
        <h1>NOSSOS PARCEIROS</h1>
        <div class="grid">
            <div class="card foregon">	
                <img src="../../../assets/images/partnes/foregon.png" alt="">
            </div>
            <div class="card fip" >
                <img src="../../../assets/images/partnes/inovaprudente.png" alt="">
            </div>
            <div class="card new-partner">	
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">	
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">	
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">	
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">	
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
            <div class="card new-partner">	
                <img src="../../../assets/images/partnes/newpartner.png" alt="">
            </div>
        </div>
    </div>
    <div class="center">
        <button>Apoie a comunidade <img src="../../../assets/images/arrow-right.svg" alt=""></button>
    </div>
</div>
