<div class="partners">

    <h1>NOSSOS PARCEIROS</h1>
    <div class="grid">
        <div class="card">	
            <img src="../../../assets/images/fundacaoinovaprudente.svg" alt="">
        </div>
        <div class="card">	
            <img src="../../../assets/images/Vector.svg" alt="">
        </div>
        <div class="card">	
            <p>novo parceiro</p>
        </div>
        <div class="card">	
            <p>novo parceiro</p>
        </div>
        <div class="card">	
            <p>novo parceiro</p>
        </div>
        <div class="card">	
            <p>novo parceiro</p>
        </div>
        <div class="card">	
            <p>novo parceiro</p>
        </div>
        <div class="card">	
            <p>novo parceiro</p>
        </div>
    </div>
</div>
