.partners{
    background-color: #000813;
    h1{
        letter-spacing: 0.16em;
        text-transform: uppercase;
        
        background: linear-gradient(91.06deg, #FFFFFF 2.26%, #7589FF 80.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        .card{
            background-color: #201E25;
            height: 152px;
            width: 324px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius:  0px 30px ;
            margin: 30px;
            color: white;
            // img{

            // }
        }
    }
}