.partners{
    *{
        margin: 0;
        padding: 0;
    }
    .partners-container{
        padding-left: 6.25rem;
        h1{
            margin-left: -12px;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.5rem;
            margin-top: 12vh;
            margin-bottom: 66px;       
            background: linear-gradient(91.06deg, #ffffff 2.26%, #7589FF 20.78%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;     
        }
        .grid{
            display: grid;
            grid-template-columns: auto auto auto auto;
            margin-left: -20px;

            .card{
                width: 20.563rem;
                height: 9.5rem;
                background-image: url(../../../assets/images/background-image/Group.png);
                background-color: transparent;
                background-repeat: no-repeat;
                align-items: center;
                margin-bottom: 2.375rem;
                img{
                    width: 9.5rem;
                    margin: auto;
                }
            }
            .foregon{
                img{
                    width: 9.5rem;
                    // margin: ;
                }
            }
            .fip{
                img{
                    width: 12.75rem;
                    // margin: ;
                }
            }
            .new-partner{
                img{
                    width: 12.5rem;
                    filter: opacity(0.4) drop-shadow(0 0 0 rgb(18,17,17));
                }
            }
        }
    }
        .center{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px 24px;
                gap: 30px;
                background-color: transparent;
                border: 1px solid #FFFFFF;
                border-radius: 2px;
                color: #FFFFFF;
                margin-bottom: 204px;
                margin-top: 64px;
            }
        }
    }

@media screen and (max-width: 1600px) {
    .partners{
        .partners-container{
            .grid{
                    display: grid;
                    grid-template-columns: auto auto auto;
            }
        }
    }
}

@media screen and (max-width: 1174px) {
    .partners{
        .partners-container{
            .grid{
                    display: grid;
                    grid-template-columns: auto auto;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .partners{
        margin-bottom: -210px;
        .center{
            button{
                margin-top: 1px;
                border: 1px solid #485DFF;
                border-radius: 2px;
                width: 312px;
                height: 53px;
            }
        }
        .partners-container{
            padding-left: 13.250vw;
            padding-right: 24px;

            h1{
                background: linear-gradient(91.06deg, #ffffff 2.26%, #7589FF 80.78%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text; 

                font-weight: 700;
                font-size: 1.5rem;
                letter-spacing: 0.16em;
                margin-bottom: 60px;
            }

            .grid{
                    display: grid;
                    grid-template-columns: auto;
                    text-align: center;
                    // margin-left: 2.813rem;
                }
            }
        }   
    }