<div class="content">
    <div class="content2">
        <h1>QUEM SOMOS</h1>
        <p> 
            O Dev PP é um projeto que nasceu da necessidade de unir a comunidade de 
            Desenvolvedores de Presidente Prudente e região com o objetivo de compartilhar
            conhecimentos, experiências e fazer networking e dessa forma fomentar a inovação,
            a criação de novos produtos, o empreendedorismo e aumentar/atualizar as
            habilidades e conhecimentos da comunidade como um todo, assim como, de certa
            forma, preparar um pouco os universitários e recém formados para o mercado de 
            trabalho.
        </p>
        <p> 
            O projeto consiste em meetups gratuitos organizados em palestras, demos,
            keynotes, workshops, bate-papos informais, grupos de estudo e etc. Sempre com
            uma confraternização para fomentar ainda mais o networking e novas ideias.
        </p>
        <p>
            Se você é desenvolvedor(a) e está interessado(a) em aprender conosco, evoluir,
            dividir conhecimento ou se você tem algum interesse na área e quer nos ajudar a
            construir uma comunidade forte na nossa cidade <a href="">junte-se</a> a nós e compareça aos 
            meetups — <a href="">veja a agenda.</a> Se você quer compartilhar o seu conhecimento <a href="">aplique 
            uma palestra.</a>
        </p>
        <p>
            Todos os participantes, organizadores, palestrantes, apoiadores, voluntários
            e qualquer envolvido em nossos eventos devem seguir o nosso <a href="">Código de Conduta</a> 
        </p>
    </div>
    <img src="../../../assets/images/background-image/bg-be-part.png" alt="">
    <app-be-part-of-it-two></app-be-part-of-it-two>
</div>