.pilot-navbar {
    .social-icons{
        img{
            width: 20px;
            margin: 14px;
        }
        .social-icon{
            padding-left: 14px;
        }
    }
    .pilot-container {
        .pilot-navbar-brand {
            display: block;
            float: left;

            img {
                margin-left: 240px;
                margin-top: 22px;
                margin-bottom: 26px;
            }
        }

        .pilot-navbar-nav {
            list-style-type: none;
            margin: 0;
            padding: 0;

            .pilot-nav-item:first-child {
                margin-left: 272px;
            }
            .pilot-nav-item {
                float: left;
                margin-top: 22px;
                margin-bottom: 26px;
                margin-left: 40px;

                .pilot-nav-link {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                .cta{
                    color: #FC4FF6
                }

                .pilot-nav-link:hover {
                    background-color: #111;
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .pilot-navbar {
        background-color: black;
        .pilot-container {
            button{
                margin-top: 32px;
                margin-left: 118px;
            }
            .pilot-navbar-nav{
                .pilot-nav-item {
                    .pilot-nav-link {
                        color: white;
                        width: 200px;
                        padding: 0;
                        margin-left: -100px;
                        text-align: left;
                    }
                    .cta{
                        color: #FC4FF6
                    }
                }
            }
            .pilot-navbar-brand{
                img{
                    height: 40px;
                    margin: 14px;
                    margin-left: 24px;
                }
            }
        }
    }

}