<div class="reload-app">
    <h1>RELOAD.. .</h1>
    <div class="meetuos">
        <div>
            <p class="resume">Para a retomada da comunidade estamos preparando algumas novidades. Além dos meetups vamos promover semanalmente um videocast com convidados especiais. <font color="#FC4FF6">Fique ligado </font> 🤟</p>
    
            <button class="btn1">Faça parte da comunidade <img src="../../../assets/images/arrow-right.svg" alt=""></button>
        </div>

        <div>
            <div class="flex">
                <img class="icons-box" src="../../../assets/images/meetupsector.png" alt=""> 
                   <h2>Meetups</h2>
            </div>
            <p>Um encontro informal em que as pessoas conversam de pé, facilitando a circulação e o networking. A ideia vem do Vale do Silício, em que eventos como esse são tão comuns quanto um happy-hour. <font color="#7589FF"> Faça parte da comunidade.</font></p>
        </div>
    </div>
        <div class="divpodcast">
            <div class="flex">
                <img class="icons-box" src="../../../assets/images/micpodcast.svg" alt="">
                    <h2> Podcast</h2>
            </div>
            <p>Como um programa de rádio, porém o conteúdo é sob demanda e pode ser ouvido no momento em que o ouvinte quiser. O formato tem uma alta potência de comunicação, que pode levar informação, educação, entretenimento e mais, ou seja: não existe limite para a criatividade. <font color="#7589FF">Faça parte da comunidade.</font> </p>
        </div>
        <button class="btn2">Faça parte da comunidade <img src="../../../assets/images/arrow-right.svg" alt=""></button>
        <h3>RELOAD.. .</h3>
    </div> 