.reload-app{
    .reload-app-content{
        padding-left: 6vw;
    }
    h1{
        background: linear-gradient(91.06deg, #FFFFFF 2.26%, #7589FF 17.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 41px;
        letter-spacing: 1em;
    }

    h2{
        background: linear-gradient(91.06deg, #FFFFFF 2.26%, #7589FF 70.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        font-weight: 600;
        font-size: 2rem;
        line-height: 130%;
        letter-spacing: 0.12em;
    }

    .icons-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 40px;
        height: 40px;
        margin-right: 24px;
    }

    h3{
        -webkit-text-stroke: 1px #7589FF;
        color: transparent;
        font-size: 9.875rem;
        letter-spacing: 0.4em;
    }

    p{
        color: #FFF;
        width: 530px;
        font-size: 1rem;
        margin-top: 21px;
        line-height: 33px;
        font-weight: 400;
        letter-spacing: 0.72px;
    }
    
    
    button{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 65px;
        padding: 16px 24px;
        gap: 30px;
        font-size: 1.125rem;

    
        width: 348px;
        height: 56px;
        color: white;
        border: none;
        background: #485DFF;
        border-radius: 2px;
    }

    .meetuos{
        display: grid;
        grid-template-columns: auto auto;
    }

    .divpodcast{
        margin-left: 50%;
        
    }
    .btn2{
        display: none;
    }

    .flex{
        display: flex;
    }
    .reload-img{
        width: 100%;
    }
}
@media screen and (max-width: 1178px) {
    .reload-app{
        .reload-app-content{
            padding-left: 6vw;
            .meetuos{
                display: grid;
                grid-template-columns: auto;
                p{
                    font-size: 0.938rem;
                    letter-spacing: 0.72px;
                    width: 90%;
                }
                .btn1{
                    display: none;
                }
            }
            .divpodcast{
                margin-left: 0;
                    p{
                        font-size: 0.938rem;
                        letter-spacing: 0.72px;
                        width: 90%;
                        margin-bottom: 81px;
                    }
            }
            .btn2{
                display: block;
                margin-bottom: 181px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .reload-app{
        .reload-app-content{
            padding-left: 3vw;
            h1{
                background: linear-gradient(91.06deg, #FFFFFF 2.26%, #7589FF 50.78%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                width: 400px;
                font-size: 1.5rem;
            }
            
            .meetuos{
                display: grid;
                grid-template-columns: auto;
                margin-bottom: 92px;
                    p{
                        font-size: 0.938rem;
                        letter-spacing: 0.72px;
                        width: 90%;
                    }

                    .resume{
                        margin-bottom: 92px;
                    }
            }

            .divpodcast{
                margin-left: 0;
                    p{
                        font-size: 0.938rem;
                        letter-spacing: 0.72px;
                        width: 90%;
                        margin-bottom: 81px;
                    }
                }
            .btn2{
                display: block;
                margin-bottom: 181px;
            }
        }
        .reload-img{
            display: none;
        }
    }
}