<div class="digital-media">
    <div class="container">
        <div>
            <h1>podcast & videocast</h1>
            <p>Assista e ouça nosso conteúdo pelos maiores canais de distribuição de podcasts. Só chegar!</p>
        </div>
        <div class="social-icons">
            <img class="icons-box youtube" src="../../../assets/images/Logos/youtube.png" alt="">
            <img class="icons-box spotify" src="../../../assets/images/Logos/spotify.png" alt="">
            <img class="icons-box google" src="../../../assets/images/Logos/google-podcast.png" alt="">
            <img class="icons-box deezer" src="../../../assets/images/Logos/deezer.png" alt="">
        </div>
    </div>
</div>   
