<div class="digital-media">
    <div class="container">
        <div>
            <h1>podcast & videocast</h1>
            <p>Assista e ouça nosso conteúdo pelos maiores canais de distribuição de podcasts. Só chegar!</p>
        </div>
        <div class="social-icons">
            <div class="icons-box">
                <img class="youtube" src="../../../assets/images/Logos/youtube.png" alt="">
                <p>youtube</p>
            </div>
            <div class="icons-box">
                <img class="spotify" src="../../../assets/images/Logos/spotify.png" alt="">
                <p>spotify</p>
            </div>
            <div class="icons-box">
                <img class="google" src="../../../assets/images/Logos/google-podcast.png" alt="">
                <p>google podcast</p>
            </div>
            <div class="icons-box">
                <img class="deezer" src="../../../assets/images/Logos/deezer.png" alt="">
                <p>deezer</p>
            </div>
        </div>
    </div>
</div>   
