#home {
    margin-bottom: -30vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
    .desktop{
        display: inline;
        width: 100%;
        margin-top: -85vh;
    }
    .content {
        text-align: center;
        width: 100%;

        button{
            border: none;
        }

        h2 {
            &.text-medium {
                padding-top: 150px;
                font-family: 'Chakra Petch';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.24em;
                text-transform: uppercase;
                background: linear-gradient(91.06deg, #00F0FF 2.26%, #FFFFFF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        h1 {
            &.text-large {
                background: linear-gradient(91.06deg, #FF1CF7 2.26%, #00F0FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                padding-top: 48px;    
                width: 96vw;
                font-size: 4rem;  
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                font-weight: bold
            }
        }
        .purpose {
            width: 100%;
            text-align: center;
            padding-left: 16vw;
            padding-right: 16vw;
            p {
                letter-spacing: 0.72px;
                color: #FAFAFA;
                padding-top: 64px;

                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
            }
        }
        .mouse-scroll {
            padding-top: 8vh;
            padding-bottom: 0px;
            background-color: transparent;
        }
        .bg{
            display: none;
        }
    }
}

@media screen and (max-width: 1600px) {
    #home {
        height: 160vh;
        .desktop{
            margin-top: -80vh;
        }

    }
}
@media screen and (max-width: 1425px) {
    #home {
        height: 160vh;
        .desktop{
            margin-top: -70vh;
        }
    .content{
            .mouse-scroll{
                margin-top: -5vh;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    #home {
        .desktop{
            margin-top: -60vh;
        }
    }
}
@media screen and (max-width: 1100px) {
    #home {
        .desktop{
            margin-top: -55vh;
        }
    }
}
@media screen and (max-width:900px) {
    #home {
        height: 160vh;
        .desktop{
            margin-top: -45vh;
        }
    }
}

@media screen and (max-width: 600px) {
    #home {
        height: 150vh;
    }
}
@media screen and (max-width: 650px) {
    #home {
        height: 160vw;
    }
}
@media screen and (max-width: 700px) {
    #home {
        height: 130vw;
    }
}
@media screen and (max-width: 800px) {
    #home { 
        background-image: none;
        background-color: #000814;
        height: 140vh;

        .content {
            padding: 0;
            margin: 0;
            .desktop{
                display: none;
            }
            h1 {
                &.text-large {
                    font-weight: 700;
                    font-size: 30px;
                    width: 320px;
                }
            }
            h2 {
                &.text-medium {
                    padding-top: 8vw;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 130%;
                    letter-spacing: 0.24em;
                }
            }
            .purpose {
                padding-left: 8vw;
                padding-right: 8vw;
            }
            .mouse-scroll {
                padding-top: -250px;
                margin-bottom: 30px;
                background-color: transparent;
            }
            .bg{
                display: inline;
                margin-top: -65vw;
                width: 100%;
            }
        }    
    }     
}

@media screen and (max-width: 473px) {
    #home {
        .content{
            .mouse-scroll {
                padding-top: 50px;
                margin-bottom: 30px;
                background-color: transparent;
            }
        }
    }
}