<section id="home">
    <div class="content">
        <h2 class="text-medium">
            CONHECIMENTO E NETWORKING
        </h2>
        <h1 class="text-large">
            COMUNIDADE DE DESENVOLVEDORES DE PRESIDENTE PRUDENTE E REGIÃO
        </h1>
        <div class="purpose">
            <p>Nosso propósito é unir a comunidade de desenvolvedores com o objetivo de compartilhar conhecimentos, experiências, fortalezer o networking e  contribuir com a inovação e o empreendedorismo na criação de novos produtos.</p>
        </div>
        <button title="_" class="mouse-scroll" href="#reload" role="button">
            <img src="assets/images/devpp-mouse-scroll.svg" alt="DEV PP Mouse Scroll">
        </button>
        <img class="bg" src="../../../assets/images/background-image/bg2.svg" alt="">
        <img class="desktop" src="../../../assets/images/background-image/BG.png" alt="">
    </div>
</section>
